@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}


.banner{
    width: 100%;
    background-color: rgba(55, 148, 49,0.9);;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.banner p{
    color: white !important;
    font-size: 1rem;
    margin-bottom: 0!important;
}



.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading .logo{
    width: 15%;
    height: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.heading .logo p{
    font-size: 30px;
    margin-bottom: 0!important;
    padding: 5px 10px;
    border-bottom: 3px solid rgba(55, 148, 49,0.9);;
    font-weight: 500;
}




.navlist{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    padding: 0 10px; 
}

.navlist ul{
    margin-bottom: 0!important;
}

.navlist ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.navlist ul li:hover{
    border-bottom: 2px solid #379431;
}



.headings1{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.headings1 ul{
    margin-bottom: 0!important;
}

.headings1 ul li{
    list-style-type: none;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 1.1rem;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.headings1 ul li:hover{
    border-bottom: 2px solid rgb(0, 171, 132);
}

@media screen and (max-width:961px){
    .headings1 ul li{
        display: none;
    }

    .navlist ul li{
        display: none;
    }
}